*{
/*   background: #0C0F17; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: #0C0F17;
  overflow: hidden;
}
.main-section{
  height: 100vh;
  width: 100%;
}
.main-bg{
  background: url('https://i.ibb.co/k2hS6KP/box-bg.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 2;
}
.main-mouse{
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 300px;
  height: 300px;
  background: #B3F36A;
  border-radius: 300px;
  filter: blur(100px);
  opacity: 0.5;
}